<div id="polaris-animation">
  <div class="anim-container-main">
    <div class="polaris-main">
      Polaris
    </div>
  </div>
  <div class="anim-container-reflection">
    <div class="polaris-reflection">
      Polaris
    </div>
  </div>
  <div class="anim-container-slogan">
    <div class="slogan">
      Adventures in Ruby, Rails, and JavaScript
    </div>
  </div>
</div>

<div id="home-menu">
  <a href="http://www.polaris.us/">Home</a> | <a href="http://www.polaris.us/about">About</a> | <a href="https://s3-us-west-1.amazonaws.com/polaris-common/swenson_dev_resume_march_2014.pdf">Resumé</a> | <a href="https://github.com/Polaris">GitHub</a> | <a href="mailto:swensonsd@gmail.com">Contact</a>
</div>

<div id="about-polaris"><p><strong>Polaris</strong> is the pen name for Seth Swenson, an aspiring Web and software engineer living in Maryland. His specialties as a developer, both self-taught and with some degree of formal instruction, include the languages listed above as well as brief histories with C, Java, and Visual Basic. He also has experience with developing and manipulating graphics and animations, mostly using GIMP, InkScape, and Adobe suite software.</p>

<p>Seth's formal education includes an extensive background in undergraduate-level engineering, chemistry, physics, and cellular biology/biochemistry. He graduated from the University of Maryland in 2012 with a Bachelor of Science in Cellular Biology and Molecular Genetics.</p>

<p>While currently seeking employment as a software engineer, Seth's proximal research interests include biological aging science, regenerative medicine, and renewable energy and resource development.</p>

<p>This portfolio site runs on a Rails server, which is used to host static pages, games made by Seth, and a JSON high scores API for those games.</p></div>