.pillar-game {
  overflow: hidden;
  -webkit-user-select: -moz-none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  background-color: #ffff8b;
  margin: 0 auto;
}

.pillar-game .pillar-loading-container {
  width: 550px;
  height: 550px;
  background-color: lightgrey;
  position: relative;
}

.pillar-game .pillar-loading-text {
  color: darkgrey;
  text-align: center;
  position:relative;
  top: 38%;
  font-size: 40pt;
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
}

.pillar-game .pillar-ellipsis {
  border-radius: 50%;
  width: 8%;
  height: 8%;
  position: absolute;
  bottom: 40%;
  -webkit-transition: -webkit-transform .375s ease-in-out;
     -moz-transition:    -moz-transform .375s ease-in-out;
      -ms-transition:     -ms-transform .375s ease-in-out;
       -o-transition:      -o-transform .375s ease-in-out;
          transition:         transform .375s ease-in-out;
}

.pillar-game .pillar-ellipsis.teal-ellipsis-one {
  background-color: teal;
  left: 28%;
}

.pillar-game .pillar-ellipsis.green-ellipsis-one {
  background-color: green;
  left: 40%;
}

.pillar-game .pillar-ellipsis.teal-ellipsis-two {
  background-color: teal;
  left: 52%;
}

.pillar-game .pillar-ellipsis.green-ellipsis-two {
  background-color: green;
  left: 64%;
}

.pillar-game .pillar-logo-img {
  position: absolute;
  -webkit-transform: scale(.5);
     -moz-transform: scale(.5);
      -ms-transform: scale(.5);
       -o-transform: scale(.5);
          transform: scale(.5);
  opacity: 1;
  -webkit-transition: -webkit-transform .375s ease-in-out;
     -moz-transition:    -moz-transform .375s ease-in-out;
      -ms-transition:     -ms-transform .375s ease-in-out;
       -o-transition:      -o-transform .375s ease-in-out;
          transition:         transform .375s ease-in-out;
}

.pillar-game .apple-img {
  position: absolute;
  right: 12%;
  top: 18.1%;
}

.pillar-game .apostrophe-img {
  right: 81%;
  top: 13.8%;
}

.pillar-game .p-img {
  right: 58%;
  top: 4.8%;
}

.pillar-game .i-img {
  right: 54.4%;
  top: 3.8%;
}

.pillar-game .l1-img {
  right: 41.5%;
  top: 5.4%;
}

.pillar-game .l2-img {
  right: 37.6%;
  top: 6.3%;
}

.pillar-game .a-img {
  top: 16.1%;
  right: 22.6%;
}

.pillar-game .r-img {
  right: 15.4%;
  top: 10.5%;
}

.pillar-game .main-menu-div {
  background-color: #ffff8b;
  position: relative;
}

.pillar-game .main-menu-image {
  position: relative;
  background-color: #ffff8b;
}

.pillar-game .pillar-link {
  cursor: pointer;
  position: absolute;
}

.pillar-game .new-game-link {
  height: 5%;
  width: 32%;
  bottom: 43.3%;
  left: 34%;
}

.pillar-game .options-link {
  height: 5%;
  width: 22%;
  bottom: 34.7%;
  left: 39%;
}

.pillar-game .help-link {
  height: 5%;
  width: 13%;
  bottom: 25.7%;
  left: 43.5%;
}

.pillar-game .about-div {
  position: relative;
  background-color: #ffff8b;
}

.pillar-game .about-link {
  height: 5%;
  width: 17.5%;
  bottom: 17%;
  left: 41.5%;
}

.pillar-game .polaris-link {
  height: 3%;
  width: 24%;
  bottom: 67%;
  left: 38%;
  border-radius: 3px;
}

.pillar-game .about-image {
  background-color: #ffff8b;
}

.pillar-game .about-back-link {
  height: 5%;
  width: 11%;
  bottom: 2%;
  left: 2%;
}

.pillar-game .options-menu-div {
  position: relative;
}

.pillar-game .options-menu-image {
  background-color: #ffff8b;
}

.pillar-game .pillar-slider {
  position: absolute;
  width: 40.5%;
  height: 2%;
  left: 42%;
}

.pillar-game .options-menu-volume-slider {
  bottom: 77%;
}

.pillar-game .options-menu-start-speed-slider {
  bottom: 30.5%;
}

.pillar-game .options-menu-speed-gain-slider {
  bottom: 21%;
}

.pillar-game .options-menu-grid-size-slider {
  bottom: 11.5%;
}

.pillar-game .options-menu-difficulties {
  bottom: 42.5%;
  left: 46%;
  position: absolute;
}

.pillar-game .difficulty-div {
  border-radius: 5px;
  bottom: 41.5%;
  height: 29%;
  position: absolute;
  width: 15.5%;
  cursor: pointer;
}

.pillar-game .selected-difficulty {
   -webkit-box-shadow: 4px 5px 4px 1px teal;
      -moz-box-shadow: 4px 5px 4px 1px teal;
           box-shadow: 4px 5px 4px 1px teal;
  border: solid grey;
  border-width: 1px;
}

.pillar-game .options-swallowtail-div {
  left: 45.15%;
}

.pillar-game .options-luna-div {
  left: 63.65%;
}

.pillar-game .options-monarch-div {
  left: 81.15%;
}

.pillar-game .options-menu-slider-display {
  color: darkblue;
  position: absolute;
  left: 86%;
  font-weight: bold;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
}

.pillar-game .opts-volume-display {
  bottom: 76%;
}

.pillar-game .opts-start-speed-display {
  bottom: 29.5%;

}

.pillar-game .opts-speed-gain-display {
  bottom: 20%;

}

.pillar-game .opts-grid-size-display {
  bottom: 10.5%;
}

.pillar-game .options-menu-back-link {
  height: 5%;
  width: 11%;
  bottom: 2%;
  left: 2%;
}

.pillar-game .help-div {
  position: relative;
}

.pillar-game .help-back-link {
  height: 5%;
  width: 11%;
  bottom: 2%;
  left: 2%;
}

.pillar-game .game-board {
  position: relative;
  overflow: hidden;
}

.pillar-game .pillar-game-foreground {
  opacity: 1;
  position: absolute;
  left: 0%;
  top: 0%;
-webkit-transition: -webkit-opacity 1s ease-in-out;
   -moz-transition:    -moz-opacity 1s ease-in-out;
    -ms-transition:     -ms-opacity 1s ease-in-out;
     -o-transition:      -o-opacity 1s ease-in-out;
        transition:         opacity 1s ease-in-out;
}

.pillar-game .gridspace.clear {
  opacity: 0;
}

.pillar-game .gridspace.apple {
  opacity: 1;
  background-color: red;
}

.pillar-game .player-pillar {
  border-radius: 10%;
}

.pillar-game .luna .color1 {
  background-color: green;
}

.pillar-game .luna .color2 {
  background-color: teal;
}

.pillar-game .swallowtail .color1 {
  background-color: orange;
}

.pillar-game .swallowtail .color2 {
  background-color: yellow;
}

.pillar-game .monarch .color1 {
  background-color: yellow;
}

.pillar-game .monarch .color2 {
  background-color: black;
}

.pillar-game .monarch .color3 {
  background-color: white;
}

.pillar-game .monarch .color4 {
  background-color: black;
}

.pillar-game .monarch .color5 {
  background-color: white;
}

.pillar-game .score-holder {
  font-size: 14pt;
  font-weight: bold;
  font-family: Verdana, Geneva, sans-serif;
  color: white;
  position: absolute;
  top: 3%;
  left: 4%;
}

.pillar-game .select-motif {
  position: absolute;
  opacity: 0;
  -webkit-transition: -webkit-opacity .2s ease-out;
     -moz-transition:    -moz-opacity .2s ease-out;
      -ms-transition:     -ms-opacity .2s ease-out;
       -o-transition:      -o-opacity .2s ease-out;
          transition:         opacity .2s ease-out;
}

.pillar-game .select-motif.active {
  position: absolute;
  opacity: 1;
  -webkit-transition: -webkit-opacity .2s ease-in;
     -moz-transition:    -moz-opacity .2s ease-in;
      -ms-transition:     -ms-opacity .2s ease-in;
       -o-transition:      -o-opacity .2s ease-in;
          transition:         opacity .2s ease-in;

}

.pillar-game .select-motif img.left {
  float: left;
}

.pillar-game .select-motif img.right {
  float: right;

  -webkit-transform: scaleX(-1);
     -moz-transform: scaleX(-1);
      -ms-filter: "FlipH";
       -o-transform: scaleX(-1);
          transform: scaleX(-1);
          filter: FlipH;
}

.pillar-game .new-game-motif {
  height: 5%;
  width: 57%;
  bottom: 43.3%;
  left: 21.5%;
}

.pillar-game .options-motif {
  width: 47%;
  bottom: 34.7%;
  left: 26.5%;
}

.pillar-game .help-motif {
  width: 38%;
  bottom: 25.7%;
  left: 31%;
}

.pillar-game .about-motif {
  width: 41.5%;
  bottom: 17%;
  left: 29.5%;
}