<%= content_for :custom_title do %>
  Asteroids | An Arcade Classic
<% end %>
<div id="asteroids-game">
</div>
<div class="home-back-link"><%= link_to "Back to Home", controller: "root", action:"index" %></div>