<%= content_for :custom_title do %>
  Pillar | A Little Distraction
<% end %>
<div class="pillar-game">
</div>
<div class="home-back-link" data-no-turbolink="true"><%= link_to "Back to Home", controller: "root", action:"index" %></div>