<%= javascript_tag do %>
  window.isStaticPage = true;
<% end %>

<div id="polaris-animation">
  <div class="anim-container-main">
    <div class="polaris-main">
      Polaris
    </div>
  </div>
  <div class="anim-container-reflection">
    <div class="polaris-reflection">
      Polaris
    </div>
  </div>
  <div class="anim-container-slogan">
    <div class="slogan">
      Adventures in Ruby, Rails, and JavaScript
    </div>
  </div>
</div>

<div id="home-menu">
  <a href="http://polaris.us/">Home</a> | <a href="http://polaris.us/about">About</a> | <a href="https://s3-us-west-1.amazonaws.com/polaris-common/swenson_dev_resume_march_2014.pdf">Resumé</a> | <a href="https://github.com/Polaris">GitHub</a> | <a href="mailto:swensonsd@gmail.com">Contact</a>
</div>

<div id="home-projects">
  <div class="project-container asteroids-project">
    <a href="http://polaris.us/games/asteroids">
      <img src="https://s3-us-west-1.amazonaws.com/polaris-common/portfolio-images/asteroids.png"></img>
    </a>
  </div>
  <div class="project-container pillar-project">
    <a href="http://polaris.us/games/pillar">
      <img src="https://s3-us-west-1.amazonaws.com/polaris-common/portfolio-images/pillar.png"></img>
    </a>
  </div>
  <div class="project-container ruby-facets">
    <a href="https://github.com/Polaris/Ruby-Facets">
      <img src="https://s3-us-west-1.amazonaws.com/polaris-common/portfolio-images/problems.png"></img>
    </a>
  </div>
</div>