<div id="polaris-animation">
  <div class="anim-container-main">
    <div class="polaris-main">
      Polaris
    </div>
  </div>
  <div class="anim-container-reflection">
    <div class="polaris-reflection">
      Polaris
    </div>
  </div>
  <div class="anim-container-slogan">
    <div class="slogan">
      Adventures in Ruby, Rails, and JavaScript
    </div>
  </div>
</div>

<div id="home-menu">
  <a href="http://polaris.us/">Home</a> | About | Resumé | <a href="https://github.com/Polaris">GitHub</a>
</div>

<div id="home-projects">
  <div class="project-container asteroids-project">
    Asteroids
  </div>
  <div class="project-container pillar-project">
    Pillar
  </div>
  <div class="project-container ruby-facets">
    Worked Coding Problems
  </div>
</div>

<script>
  $(document).ready(function() {

    var animateTime = <%= session[:seen_intro] ? 0 : 2000 %>
    var standardPCWidth = 250;
    var standardPCHeight = 200;

    $.fn.textWidth = function(){
      var self = $(this),
          children = self.children(),
          calculator = $('<span style="display: inline-block;" />'),
          width;

      children.wrap(calculator);
      width = children.parent().width(); // parent = the calculator wrapper
      children.unwrap();
      return width;
    };

    $("body").css({
      "background-color": "black"
    });

    $("#polaris-animation").css({
      width: $(window).width()
    });

    $(".anim-container-main").css({
      height: $(".polaris-main").height()*.6
    });
    $(".anim-container-reflection").css({
      height: $(".polaris-reflection").height()*.6/2
    });
    $(".anim-container-slogan").css({
      height: $(".slogan").height(),
      width: $(".slogan").width()*1.01
    });
    $(".polaris-main").css({
      bottom: -$(".polaris-main").height(),
      opacity: 1
    });
    $(".polaris-reflection").css({
      top: -$(".polaris-reflection").height()*.7,
      opacity: .5
    });

    var originalContainerHeight = $("#polaris-animation").height();
    var originalMenuHeight = $("#home-menu").height();

    $("#home-menu").css({
      height: 0
    });

    $(window).resize(function() {
      $("#polaris-animation").css({
        height: $(window).height(),
        width: $(window).width()
      });
    });
    $(window).resize();

    $(".slogan").css({
      left: -$(".slogan").width(),
      opacity: 1
    });
    $(".polaris-reflection").css({
      top: -$(".polaris-reflection").height()*.7,
      opacity: .5
    });
    $(".polaris-main").animate({
      bottom: "-35%"
    }, animateTime);
    $(".polaris-reflection").animate({
      top: "-120%"
    }, animateTime, function() {
      $(".slogan").animate({
        left: 0
      }, animateTime/4, function() {
        $("#polaris-animation").animate({
          height: originalContainerHeight
        }, animateTime);
        $("#home-projects").css({
          opacity: 1
        });
        $("#home-projects").animate({
          height: $(window).height() - originalContainerHeight - originalMenuHeight
        }, animateTime, function() {
          $(".project-container").animate({
            opacity: 1
          }, animateTime);
          $("#home-menu").animate({
            height: originalMenuHeight
          }, animateTime/4, function () {
            $("#home-menu").animate({
              opacity: 1
            }, animateTime);
          });
        });
        $(window).off("resize");
        $(window).resize(function() {
          $("#polaris-animation").css({
            width: $(window).width()
          });
          $("#home-projects").css({
            height: $(window).height() - originalContainerHeight - originalMenuHeight
          });
        });
        $(window).resize();
      });
    });

  });
</script>

<% session[:seen_intro] = true %>